<!DOCTYPE html>
<html>
<head>
  <title>Photoboot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <%= render 'layouts/messages' %>
  <%=  yield :home_header %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
